body {
  overflow: auto;
}

.content {
  min-height: 100vh;
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  user-select: none;
  overflow-x: scroll;
}


@media screen and (max-width: 1300px) {
  .status-column {
    min-width: 30%;
  }
}

@media screen and (max-width: 1000px) {
  .status-column {
    min-width: 45%;
  }
}

@media screen and (max-width: 750px) {
  .status-column {
    min-width: 90%;
  }
}

.status-column {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

.dropzone {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 30px;
}

.dropzone.dragover {
  background: rgb(227, 235, 247);
}

.drag-item {
  background: #faffff;
  padding: 16px;
  cursor: grab;
}

.dragging {
  opacity: .9;
}

.column-title {
  font-weight: 500;
  font-size: 20px;
}
